@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color:#D9D9D9;
}
/* ==================== MENU SUPERIOR =================== */ 

#cabecalho {
    display: block;
}
.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    float: right;
    padding: 20px;
}

.nav__title {
    display: flex;
    list-style-type: none;
    float: left;
    padding: 20px;
    margin-left: 20px;
}

.link_title {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 40px;
    color: #03318C;
}

.nav__item {
    margin: 0 15px;
    position: relative;
}

.nav__link {
    padding: 5px 0px;
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #F29F05;
    text-transform: uppercase;
}

.nav__link:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background: #D95204;
    transition: all 0.4s ease;
}

.nav__link:hover:before {
    width: 100%;
}

/* ==================== TITULO E DESCRIÇÃO ===================== */

#title_desc {
    display: block;
    position: relative;
}

#title_desc h1 {

    display: inline-block;
    position: absolute;
    text-align: center;
    margin-top: 200px;
    margin-inline-start: 100px;
    font-size: 50px;
    font-family: 'Lexend Deca', sans-serif;
    color: #D95204;
}

#title_desc h2 {
    display: inline-block;
    position: absolute;
    text-align: center;
    margin-top: 300px;
    margin-inline-start: 110px;
    font-family: 'Lexend Deca', sans-serif;
    color: #03318C;
    font-weight: lighter;
}

/* =========== MENU IMAGENS =========== */

#box {
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.imagem1 {
    display: block;
    position: relative;
    list-style: none;
    margin-left: 150px;
    margin-top: 400px;
   
}

.imagem1 img {
    display: block;
    position: absolute;
    transition: .5s;
    z-index: 999;
    border-radius: 5px;
}

.imagem2 {
    display: block;
    position: relative;
    list-style: none;
    margin-left: 525px;
    margin-top: -70px;
}

.imagem2 img {
    display: block;
    position: absolute;
    transition: .5s;
    z-index: 999;
    border-radius: 5px;
}

.imagem3 {
    display: block;
    position: relative;
    list-style: none;
    margin-left: 900px;
    margin-top: -70px;
}

.imagem3 img {
    display: block;
    position: absolute;
    transition: .5s;
    z-index: 999;
    border-radius: 5px;
}

.conteudo {
    display: block;
    overflow: hidden;
    width: 300px;
    height: 70px;
    background-color: #03318C;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.conteudo a {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: #fff;
}

.conteudo p {
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 5px;
    font-size: 25px;
    color: #fff;
}

.imagem1:hover img {
    margin-top: 60px;
}

.imagem2:hover img {
    margin-top: 60px;
}

.imagem3:hover img {
    margin-top: 60px;
}